
<header class="header">
    <div class="header-block header-block-search">

    </div>
    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile">
                <a class="border p-1" href="?lang=ua" th:text="#{lang.ua}"></a>
            </li>
            <li class="profile">
                <a class="border p-1" href="?lang=en" th:text="#{lang.eng}"></a>
            </li>
            <li id="dropdown" class="profile dropdown">
                <a class="nav-link dropdown-toggle" role="button">
                    <i class="fa fa-cog icon"></i>
                </a>
                <div class="dropdown-menu profile-dropdown-menu">
                    <a class="dropdown-item"
                        href="/admin"
                       th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                       th:inline="text"
                    > <i class="fa fa-gear icon"></i>[[#{system.menu.admin}]]</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="post">
                        <button class="dropdown-item" id="button" type="submit" th:inline="text"><i
                                class="fa fa-sign-out icon"></i>[[#{system.button.logout}]]
                        </button>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</header>