<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="main-wrapper">
    <div class="app">

        <div th:include="fragments/header.html"></div>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/admin/add-book" th:inline="text"> <i class="fa fa-plus-square"></i>
                                [[#{system.menu.add.book}]]</a>
                        </li>
                        <li>
                            <a href="/admin/orders" th:inline="text"> <i class="fa fa-archive"></i>
                                [[#{system.menu.confirm}]]</a>
                        </li>
                        <li>
                            <a href="/admin/library" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.library}]]</a>
                        </li>
                        <li>
                            <a href="/admin/edit-books" th:inline="text"> <i class="fa fa-pencil-square-o"> </i>[[#{system.menu.edit}]]</a>
                        </li>
                        <li>
                            <a href="/" th:inline="text"> <i class="fa fa-sign-out"> </i>[[#{system.menu.back.user}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <article class="content dashboard-page">
            <form action="/admin/add-book" method="post">
                <h3 th:text="#{system.book.name}"></h3>
                <input class="form-control" type="text" name="name" th:placeholder="#{input.book.name}">
                <h3 th:text="#{system.book.author}"></h3>
                <span class="author-input"><i class="fa fa-plus"></i></span>
                <div class="author-box">
                    <input class="form-control" id="author" type="text" name="author" th:placeholder="#{input.author}">
                </div>
                <h3 th:text="#{system.book.attribute}"></h3>
                <input class="form-control" type="text" name="attribute" th:placeholder="#{input.attribute}">
                <input type="submit" th:value="#{system.button.add}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{system.book.name}"></th>
                    <th scope="col" th:text="#{system.book.author}"></th>
                    <th scope="col" th:text="#{system.book.attribute}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.authors}"></td>
                    <td th:text="${book.attribute}"></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
<script th:src="@{/js/jquerystatic.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
