<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

<div class="main-wrapper">
    <div class="app">
        <header class="header">
            <div class="header-block header-block-search">

            </div>
            <div class="header-block header-block-nav">
                <ul class="nav-profile">
                    <li class="profile">
                        <a class="border p-1" href="?lang=ua" th:text="#{lang.ua}"></a>
                    </li>
                    <li class="profile">
                        <a class="border p-1" href="?lang=en" th:text="#{lang.eng}"></a>
                    </li>
                    <li id="dropdown" class="profile dropdown">
                        <a class="nav-link dropdown-toggle" role="button">
                            <i class="fa fa-cog icon"></i>
                        </a>
                        <div class="dropdown-menu profile-dropdown-menu">
                            <a class="dropdown-item"
                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                               th:inline="text"
                            > <i class="fa fa-gear icon"></i>[[#{system.menu.admin}]]</a>
                            <div class="dropdown-divider"></div>
                            <form action="/logout" method="post">
                                <button class="dropdown-item" id="button" type="submit" th:inline="text"><i
                                        class="fa fa-sign-out icon"></i>[[#{system.button.logout}]]
                                </button>
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/admin/add-book" th:inline="text"> <i class="fa fa-plus-square"></i>
                                [[#{system.menu.add.book}]]</a>
                        </li>
                        <li>
                            <a href="/admin/orders" th:inline="text"> <i class="fa fa-archive"></i>
                                [[#{system.menu.confirm}]]</a>
                        </li>
                        <li>
                            <a href="/admin/library" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.library}]]</a>
                        </li>
                        <li>
                            <a href="/admin/edit-books" th:inline="text"> <i class="fa fa-pencil-square-o"> </i>[[#{system.menu.edit}]]</a>
                        </li>
                        <li>
                            <a href="/" th:inline="text"> <i class="fa fa-sign-out"> </i>[[#{system.menu.back.user}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <article class="content dashboard-page">
            <form action="/admin/add-book" method="post">
                <input class="form-control" type="text" name="name" placeholder="Input book name">
                <h3>Authors</h3>
                <input class="form-control" type="text" name="author" placeholder="Input author">
                <input class="form-control" type="text" name="author" placeholder="Input author">
                <input class="form-control" type="text" name="author" placeholder="Input author">
                <h3>Attributes</h3>
                <input class="form-control" type="text" name="attribute" placeholder="Input attribute">
                <input class="form-control" type="text" name="attribute" placeholder="Input attribute">
                <input class="form-control" type="text" name="attribute" placeholder="Input attribute">
                <input type="submit" value="Add"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Attributes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.authors}"></td>
                    <td th:text="${book.attributes}"></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
</body>
</html>
