<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container p-5">
    <div class="row">

        <div class="col-sm text-center">

            <a class="border p-3" href="/order-book">Order another book</a>
        </div>
        <div class="col-sm text-center">

            <a class="border p-3" href="/all-books">All Books</a>
        </div>
        <div class="col-sm text-center">

            <a class="border p-3" href="/my-books">My Books</a>
        </div>
        <div class="col-sm text-center">
            <form action="/logout" method="post">
                <input id="button" type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>
        </div>
    </div>
</div>


<div class="container p-5">
    <div class="row">
        <div class="col text-center">
                <form method="get" action="/all-books">
                    <input class="form-control" type="text" name="filter" placeholder="Filter">
                    <label for="isFree">Free only</label>
                    <input type="checkbox" name="isFree">
                    <button class="btn btn-outline-secondary" type="submit">Filter</button>
                </form>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <div>Book list</div>

            <ul class="list-group">
                {{#books}}
                    <li class="list-group-item">{{id}}  {{name}}  {{isInUse}}</li>
                {{/books}}
            </ul>
        </div>
    </div>
</div>

</body>
</html>