<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>
<div>
    <form method="get" action="/allbooks">
        <input type="text" name="filter" placeholder="Filter">
        <label for="isFree">Free only</label>
        <input type="checkbox" value="false" name="isFree"><!--
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
        <button type="submit">Filter</button>
    </form>
</div>

<div>Book list</div>
{{#books}}
    <span>{{name}}</span>
    <span>{{isInUse}}</span>
    <br>
{{/books}}
</body>
</html>