<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="main-wrapper">
    <div class="app">
        <div th:include="fragments/header.html"></div>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/admin/add-book" th:inline="text"> <i class="fa fa-plus-square"></i>
                                [[#{system.menu.add.book}]]</a>
                        </li>
                        <li>
                            <a href="/admin/orders" th:inline="text"> <i class="fa fa-archive"></i>
                                [[#{system.menu.confirm}]]</a>
                        </li>
                        <li>
                            <a href="/admin/library" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.library}]]</a>
                        </li>
                        <li>
                            <a href="/admin/edit-books" th:inline="text"> <i class="fa fa-pencil-square-o"> </i>[[#{system.menu.edit}]]</a>
                        </li>
                        <li>
                            <a href="/" th:inline="text"> <i class="fa fa-sign-out"> </i>[[#{system.menu.back.user}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <article class="content dashboard-page">
            <form action="edit-book/accept-edit" method="post">
                <input type="hidden" name="id" th:value="${book.id}">
                <h3 th:text="#{system.book.name}"></h3>
                <input class="form-control" type="text" name="name" th:value="${book.name}">
                <h3 th:text="#{system.book.authors}"></h3>
                <input class="form-control" type="text" name="author" th:each="author : ${book.authors}" th:value="${author}">
                <h3 th:text="#{system.book.attribute}"></h3>
                <input class="form-control" type="text" name="attribute" th:value="${book.attribute}">
                <input type="submit" th:value="#{system.button.accept}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </article>
    </div>
</div>
<script th:src="@{/js/jquerystatic.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
