<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet" />

</head>
<body>
<div class="main-wrapper">
    <div class="app">

        <div th:include="fragments/header.html"></div>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/order-book" th:inline="text"> <i class="fa fa-plus-square"></i> [[#{system.menu.order.book}]]</a>
                        </li>
                        <li>
                            <a href="/all-books" th:inline="text"> <i class="fa fa-archive"></i> [[#{system.menu.all.books}]]</a>
                        </li>
                        <li>
                            <a href="/my-books" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.my.books}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <article class="content dashboard-page">
        </article>
    </div>
</div>
</body>
</html>