<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet"/>

</head>
<body>

<div class="main-wrapper">
    <div class="app">
        <div th:include="fragments/header.html"></div>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/admin/add-book" th:inline="text"> <i class="fa fa-plus-square"></i>
                                [[#{system.menu.add.book}]]</a>
                        </li>
                        <li>
                            <a href="/admin/orders" th:inline="text"> <i class="fa fa-archive"></i>
                                [[#{system.menu.confirm}]]</a>
                        </li>
                        <li>
                            <a href="/admin/library" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.library}]]</a>
                        </li>
                        <li>
                            <a href="/admin/edit-books" th:inline="text"> <i class="fa fa-pencil-square-o"> </i>[[#{system.menu.edit}]]</a>
                        </li>
                        <li>
                            <a href="/" th:inline="text"> <i class="fa fa-sign-out"> </i>[[#{system.menu.back.user}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <article class="content dashboard-page">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{system.book.name}"></th>
                    <th scope="col" th:text="#{system.date}"></th>
                    <th scope="col" th:text="#{input.username}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <div th:if="${book.user} != null">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.inUseBy}"></td>
                        <td th:if="${book.user} != null" th:text="${book.user.getUsername()}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
</body>
</html>