<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container p-5">
    <div class="row">
        <div class="col-sm text-center">
            <a class="border p-3 text-danger" href="/admin/add-book" th:text="#{system.menu.add.book}"></a>
        </div>
        <div class="col-sm text-center">
            <a class="border p-3 text-danger" href="/admin/orders" th:text="#{system.menu.confirm}"></a>
        </div>
        <div class="col-sm text-center">
            <a class="border p-3 text-danger" href="/admin/library" th:text="#{system.menu.library}"></a>
        </div>

        <div class="col-sm text-center">
            <a class="border p-3" href="/all-books" th:text="#{system.menu.back.user}"></a>
        </div>
        <div class="col-sm text-center">
            <a class="border p-1" href="?lang=ua" th:text="#{lang.ua}"></a>
            <a class="border p-1" href="?lang=en" th:text="#{lang.eng}"></a>
        </div>
        <div class="col-sm text-center">
            <form action="/logout" method="post">
                <input id="button" type="submit" th:value="#{system.button.logout}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Date to</th>
                    <th scope="col">User name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <div th:if="${book.user} != null">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.inUseBy}"></td>
                        <td th:if="${book.user} != null" th:text="${book.user.getUsername()}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>