<!DOCTYPE html>
<html>
<head>
<title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row text-center">
        {{#message}}
            <h1 class="test-danger"> {{message}}</h1>
        {{/message}}
    </div>
</div>

<div class="container p-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <div>
                <form action="/login" method="post">
                    <div><label> User Name : <input class="form-control" type="text" name="username" value="admin"/> </label></div>
                    <div><label> Password: <input class="form-control" type="password" name="password" value="admin"/> </label></div>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <div><input class="btn btn-outline-secondary" type="submit" value="Sign In"/></div>
                </form>
            </div>
            <a class="test-danger" href="/registration">Registration</a>
        </div>
    </div>
</div>
</body>
</html>