<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}"/>
</head>
<body>
<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    <div class="logo">
                        <span class="l l1"></span>
                        <span class="l l2"></span>
                        <span class="l l3"></span>
                        <span class="l l4"></span>
                        <span class="l l5"></span>
                    </div>
                    Library
                </h1>
                <div>
                    <a href="?lang=ua" th:text="#{lang.ua}"></a>
                    <a href="?lang=en" th:text="#{lang.eng}"></a>
                </div>
            </header>
            <div class="auth-content">
                <p class="text-xs-center text-muted" th:text="#{login.label.signin}"></p>
                <div class="container">
                    <div class="row text-center">
                        <span class="text-danger" th:if="${message} != null" th:text="${message}"></span>
                    </div>
                </div>
                <form action="/login" method="post">
                    <label for="email" th:text="#{input.email}"></label>
                    <input type="text"
                           class="text-muted form-control underlined"
                           id="email"
                           name="email"
                           value="admin@gmail.com"
                    >

                    <label for="password" th:text="#{input.password}"></label>
                    <input
                            type="password"
                            class="text-muted form-control underlined"
                            id="password"
                            name="password"
                            value="123456789"
                    >
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <div class="form-group">
                        <button
                                type="submit"
                                class="btn btn-block btn-primary"
                                th:text="#{login.button.signin}"
                        >
                        </button>
                    </div>
                    <div class="form-group text-center">

                        <p class="text-muted text-xs-center"
                           th:text="#{login.label.noaccount}">
                        </p>
                        <a href="/registration"
                           th:text="#{login.label.register}"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>