<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" jj value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>
<div>
    <form method="post" action="/filter">
        <input type="text" name="filter" placeholder="Filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Filter</button>
    </form>
</div>
<div>
    <form method="post" action="/newbook">
        <input type="text" name="name" placeholder="Input Book Name">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Add</button>
    </form>
</div>
<div>Book list</div>
{{#books}}
    <span>{{name}}</span>
    <span>{{isInUse}}</span>
{{/books}}
</body>
</html>