<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

<div class="main-wrapper">
    <div class="app">
        <header class="header">
            <div class="header-block header-block-search">

            </div>
            <div class="header-block header-block-nav">
                <ul class="nav-profile">
                    <li class="profile">
                        <a class="border p-1" href="?lang=ua" th:text="#{lang.ua}"></a>
                    </li>
                    <li class="profile">
                        <a class="border p-1" href="?lang=en" th:text="#{lang.eng}"></a>
                    </li>
                    <li id="dropdown" class="profile dropdown">
                        <a class="nav-link dropdown-toggle" role="button">
                              <span class="name" th:if="${name} != null"
                                    th:text="#{system.label.welcome}+' '+ ${name}">
                              </span>
                        </a>
                        <div class="dropdown-menu profile-dropdown-menu">
                            <a class="dropdown-item"
                               href="/admin"
                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                               th:inline="text"
                            > <i class="fa fa-gear icon"></i>[[#{system.menu.admin}]]</a>
                            <div class="dropdown-divider"></div>
                            <form action="/logout" method="post">
                                <button class="dropdown-item" id="button" type="submit" th:inline="text"><i class="fa fa-sign-out icon"></i>[[#{system.button.logout}]]</button>
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/order-book" th:inline="text"> <i class="fa fa-plus-square"></i>
                                [[#{system.menu.order.book}]]</a>
                        </li>
                        <li>
                            <a href="/all-books" th:inline="text"> <i class="fa fa-archive"></i>
                                [[#{system.menu.all.books}]]</a>
                        </li>
                        <li>
                            <a href="/my-books" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.my.books}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <article class="content dashboard-page">
            <div th:text="#{system.book.list}"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{system.book.name}"></th>
                    <th th:text="#{system.book.isinuse}"></th>
                    <th th:text="#{system.book.return}"></th>
                </tr>
                </thead>
                <tr th:each="book : ${books}">
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.isInUse}"></td>
                    <td>
                        <form action="/my-books" method="post">
                            <input type="hidden" th:value="${book.id}" name="bookId">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="submit" class="btn btn-outline-danger" th:value="#{system.book.return}">
                        </form>
                    </td>
                </tr>
            </table>
        </article>
    </div>
</div>
</body>
</html>