<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Library</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/theme.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor.css}" type="text/css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

<div class="main-wrapper">
    <div class="app">
        <div th:include="fragments/header.html"></div>

        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        Library
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu">
                        <li>
                            <a href="/order-book" th:inline="text"> <i class="fa fa-plus-square"></i>
                                [[#{system.menu.order.book}]]</a>
                        </li>
                        <li>
                            <a href="/all-books" th:inline="text"> <i class="fa fa-archive"></i>
                                [[#{system.menu.all.books}]]</a>
                        </li>
                        <li>
                            <a href="/my-books" th:inline="text"> <i class="fa fa-building-o"> </i>[[#{system.menu.my.books}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <article class="content dashboard-page">
            <div th:text="#{system.book.list}"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{system.book.name}"></th>
                    <th th:text="#{system.book.inuseby}"></th>
                    <th th:text="#{system.book.return}"></th>
                </tr>
                </thead>
                <tr th:each="book : ${page.getContent()}">
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.inUseBy}"></td>
                    <td>
                        <form action="/my-books" method="post">
                            <input type="hidden" th:value="${book.id}" name="bookId">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="submit" class="btn btn-outline-danger" th:value="#{system.book.return}">
                        </form>
                    </td>
                </tr>
            </table>
            <nav aria-label="Pagination" th:if="${page.totalPages gt 1}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${!page.hasPrevious()} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/my-books?page={id}&size={siz}(id=${page.number lt 1 ? 0 : page.number-1},siz=${page.size})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq (page.number+1)} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, page.totalPages, 1)}">
                        <a class="page-link" th:href="@{/my-books?page={id}&size={siz}(id=${i-1},siz=${page.size})}"
                           th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${(page.number + 1) eq page.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/my-books?page={id}&size={siz}(id=${page.number gt page.totalPages-2 ? page.number : page.number+1},siz=${page.size})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav th:if="${page.totalPages gt 1}" aria-label="Pagination">
                <h4 th:text="#{system.allbooks.items.per.page}"></h4>
                <ul class="pagination justify-content-center font-weight-bold">

                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/my-books?size=5}"
                           data-toggle="tooltip">
                            5
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/my-books?size=8}"
                           data-toggle="tooltip">
                            8
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/my-books?size=10}"
                           data-toggle="tooltip">
                            10
                        </a>
                    </li>

                </ul>
            </nav>
        </article>
    </div>
</div>
</body>
</html>