<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container p-5">
    <div class="row">

        <div class="col-sm text-center">
            <a class="border p-3" href="/order-book" th:text="#{system.menu.order.book}"></a>
        </div>
        <div class="col-sm text-center">
            <a class="border p-3" href="/all-books" th:text="#{system.menu.all.books}"></a>
        </div>
        <div class="col-sm text-center">
            <a class="border p-3" href="/my-books" th:text="#{system.menu.my.books}"></a>
        </div>
        <div class="col-sm text-center">
            <a class="border p-1" href="?lang=ua" th:text="#{lang.ua}"></a>
            <a class="border p-1" href="?lang=en" th:text="#{lang.eng}"></a>
        </div>
        <div class="col-sm text-center">
            <form action="/logout" method="post">
                <input id="button" type="submit" th:value="#{system.button.logout}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center text-danger">
            <span class="text-danger" th:if="${message} != null" th:text="${message}"></span>
        </div>
    </div>
</div>
<div class="container p-5">
    <div class="row">
        <div class="col text-center">
            <form action="/order-book" method="POST">
                <input class="form-control" type="text" name="name" placeholder="Input Name"/>
                <label for="dateTo">Date from today to:</label>
                <input id="dateTo" type="date" th:min="${minDate}"  th:max="${maxDate}" name="dateTo">
                <input type="submit" class="btn btn-success" value="Place Order">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>