<!DOCTYPE html>
<html>
<head>
<title>Spring Security Example </title>
</head>
<body>
Add new User
<div class="container">
    <div class="row text-center">
        {{#message}}
            <h1 class="test-danger"> {{message}}</h1>
        {{/message}}
    </div>
</div>
<div class="container p-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <form action="/registration" method="post">
                <div><label> User Name : <input class="form-control" type="text" name="username"/> </label></div>
                <div><label> Password: <input class="form-control" type="password" name="password"/> </label></div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <div><input class="btn btn-outline-secondary" type="submit" value="Register"/></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>